<!-- 
<div class="nav"><%= link_to 'HOME', messages_path %></div>

<h1>Create The Hate</h1>
<div class="formbox">
<%= render 'form' %>
</div>

 -->
<div class="nav"><%= link_to 'HOME', messages_path %></div>
<div class="comingSoon"><p>COMING SOON</p></div>