<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>h8Rd8</title>
</head>
<body>

<div class="yo">Rupert Kills Us All - The End</div>
<%= link_to 'The Hate', controller: 'messages' %>
</body>
</html>